on:
  push:
    paths-ignore:
      - ".github/**"
      - "*.md"
      - "*.sh"
      - LICENSE
    branches:
      - main
name: tests
jobs:
  test:
    strategy:
      matrix:
        go: [1.16.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:

    - name: Install Go Deps
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - name: Checkout code
      uses: actions/checkout@v2
      with:
        lfs: true

    - name: Run Tests (1.16)
      shell: bash -l {0}
      run: go test

    - name: Run Tests (1.18)
      shell: bash -l {0}
      run: |
        go install golang.org/dl/gotip@master
        gotip download dev.typeparams
        gotip env -w GOEXPERIMENT=unified
        gotip version
        sed -e 's@1\.14@1.18@g' -i go.mod
        gotip test -covermode=atomic -coverprofile=profile.cov ./...

    - name: Coverage
      uses: shogo82148/actions-goveralls@v1
      with:
        path-to-profile: profile.cov
        flag-name: Go-${{ matrix.go }}
        parallel: true

  finish:
      needs: test
      runs-on: ubuntu-latest
      steps:
        - uses: shogo82148/actions-goveralls@v1
          with:
            parallel-finished: true
        - name: Poke proxy.golang.org
          shell: bash -l {0}
          run: |
            cd $(mktemp -d)
            go mod init tmp
            env GOPROXY=https://proxy.golang.org GO111MODULE=on go get go.oneofone.dev/radix@main
